<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="../public/desktop5.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <script src="../public/desktop5.js"></script>
</head>
<body>
    <div class="body">
        <div class="side">

        </div>
        <div class="login">
                <div class="ln">
                    Welcome
                </div>
                <div class="box2">
                    <div class="inputs">
                        <div class="a1">
                            <input type="text" class="name" placeholder="Name">
                            <input type="text" class="rollno" placeholder="Roll no">
                        </div>
                        <div class="a1">
                            <input type="tel" class="mobile" placeholder="Mobile no">
                            <input type="number" class="yog" placeholder="Year of graduation">
                        </div>
                        <div class="a1">
                            <input type="password" id="pass" placeholder="Password">
                            <input type="password" id="cpass" placeholder="Confirm password">
                        </div>                        
                    </div>
                    <div class="a4">
                        <input type="email" class="email" placeholder="Email">
                    </div>               
                </div>
                <div class="a5">
                    <button class="btn" type="button" onclick="validatePasswordalert()">Sign up</button>
                    <p>Already have an account?<a> Log in</a></p>
                    
                </div>
        </div>
    </div>
</body>
</html>