<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus security for students leave</title>
    <link rel="stylesheet" href="../public/desktop1.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="body">
        <div class="box">
            <h2>Which account type are you logging in as?</h2>
            <div class="bottons">
                <button class="btn1" type="button">Student</button>
                <button class="btn2" type="button">Leave approver</button>
                <button class="btn3" type="button">Admin</button>
            </div>
        </div>
    </div>
</body>
</html>